<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My Ticket{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite, scssphp' 
          'bundles/nsticketing/css/common/*.css'
          'bundles/nsticketing/css/components/*.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
  </head>
  <body>
    {%set route = app.request.attributes.get('_route') %}
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          {% block logo %}            
          <a class="navbar-item" href="{{ path('ns_ticketing_homepage') }}">
            <span class="title has-text-white">My Ticket</span>
          </a>
          {% endblock %}            
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block javascript %}{% endblock %}

  </body>
</html>
