  <nav class="breadcrumbs">
    <div class="container">
      <ul>
        <li>
          <a href="{{ path('ns_checkout_exit') }}">
            <span class="icon"><i class="fa fa-arrow-left"></i></span>
            Musée du Louvre
          </a>
        </li>
      </ul>
    </div>
  </nav>