  {# Les erreurs générales du formulaire. #}
  <div class="tile is-child notification is-danger" style="flex-grow:0;">
    <p class="subtitle is-marginless"><strong>Oops ...</strong></p>
    <span class="is-size-7">
      {{ form_errors(form) }}
    </span>
  </div>