      {#checkout-steps__item--complete checkout-steps__item--accessible  #}
      {#checkout-steps__item--active  #}
      <div class="checkout-steps">
        <ol class="checkout-steps__wrapper flexbox">
          <li class="checkout-steps__item 
            {% if step == 1 %} checkout-steps__item--active
            {% elseif step == 2 %} checkout-steps__item--complete checkout-steps__item--accessible
            {% elseif step > 2 %} checkout-steps__item--complete 
            {% endif %}"
          >
            <span class="checkout-steps__item__number flexbox center-xy">
              <span>1</span>
            </span>
            <span class="checkout-steps__item__title">Détails de la commande</span>
            <span class="checkout-steps__item__status"></span>
            <span class="checkout-steps__item__arrow"></span>
          </li>
          <li class="checkout-steps__item 
            {% if step == 2 %}checkout-steps__item--active
            {% elseif step == 3 %} checkout-steps__item--complete checkout-steps__item--accessible          
            {% elseif step > 3 %} checkout-steps__item--complete         
            {% endif %}"
          >
            <span class="checkout-steps__item__number flexbox center-xy">
              <span>2</span>
            </span>
            <span class="checkout-steps__item__title">Vos coordonnées</span>
            <span class="checkout-steps__item__status"></span>
            <span class="checkout-steps__item__arrow"></span>
          </li>
          <li class="checkout-steps__item 
            {% if step == 3 %}checkout-steps__item--active
            {% elseif step > 3 %} checkout-steps__item--complete            
            {% endif %}"
          >
            <span class="checkout-steps__item__number flexbox center-xy">
              <span>3</span>
            </span>
            <span class="checkout-steps__item__title">Paiement</span>
            <span class="checkout-steps__item__status"></span>
            <span class="checkout-steps__item__arrow"></span>
          </li>
          <li class="checkout-steps__item 
            {% if step == 4 %}checkout-steps__item--active          
            {% endif %}"
          >
            <span class="checkout-steps__item__number flexbox center-xy">
              <span>4</span>
            </span>
            <span class="checkout-steps__item__title">Confirmation</span>
            <span class="checkout-steps__item__status"></span>
            <span class="checkout-steps__item__arrow"></span>
          </li>
        </ol>
      </div>
      