{% extends "NSTicketingBundle::layout.html.twig" %}

{% block title %}Billeterie du Louvre - {{parent()}}{% endblock %}

{% block body %}

  {% include "NSTicketingBundle:Components:header.html.twig" %}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Billets pour Musée du Louvre
        </h1>
        <div class="columns">
          <div class="column is-two-thirds">
            <h2 class="subtitle">
              Admirez la Joconde, la Vénus de Milo et 35 000 autres trésors artistiques
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">

          {% include "NSTicketingBundle:Components:flashes.html.twig" %}

          {% include "NSTicketingBundle:Components:infos.html.twig" %}

        </div>
        <div class="column card-ticketing">

          {% include "NSTicketingBundle:Components:card.html.twig" %}

        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}

  <footer class="footer footer-homepage-ticketing is-medium">
    <div class="container">
      <div class="content has-text-centered">
        <figure class="image is-96x96">
          <img src="{{ asset('bundles/nsticketing/img/footer/logo.png') }}" alt="logo">
        </figure>
        <h2 class="title has-text-centered has-text-white">Musée du Louvre</h2>
        <p>Musée du Louvre - © 2017 by 3desquisse.fr</p>
      </div>
    </div>
  </footer>
{% endblock %}


{% block javascript %}
  {% javascripts 
    'bundles/nscheckout/js/common/main.js' 
  %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
