{% extends "NSTicketingBundle::layout.html.twig" %}

{% block title %}Billeterie du Louvre - {{parent()}}{% endblock %}

{% block body %}

  {% include "NSTicketingBundle:Components:header.html.twig" %}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Billets pour Musée du Louvre
        </h1>
        <div class="columns">
          <div class="column is-two-thirds">
            <h2 class="subtitle">
              Admirez la Joconde, la Vénus de Milo et 35 000 autres trésors artistiques
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">

          {% include "NSTicketingBundle:Components:flashes.html.twig" %}

          {% include "NSTicketingBundle:Components:infos.html.twig" %}

        </div>
        <div class="column" style="position:relative;top:-78px;">

          {% include "NSTicketingBundle:Components:card.html.twig" %}

        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block javascript %}
  {% javascripts filter='jsqueeze'
    'bundles/nscheckout/js/common/main.js'
  %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}