<div class="card homepage">
  <header class="card-header is-primary">
    <p class="card-header-title has-text-white">
    <span class="decimal">16</span>
    <span class="cents">,00</span>
    <span class="devise">€</span>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {# <p><span class="title is-6">Sélectionnez une date</span></p> #}

        {# <div id="datepicker" 
            style="margin-bottom:16px;
                  box-shadow: 0 0 1px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);">
      </div>  #}
      
      <a href="{{ path('ns_checkout_homepage') }}" 
          class="button is-link is-fullwidth is-medium"
      >
        <span>Réserver maintenant</span>
      </a>

      <p><span class="title is-6">Information importante</span></p>
      <p>Si des personnes de votre groupe ont un accès gratuit pour le Louvre, ils peuvent entrer avec vous par l'Entrée Prioritaire.</p>
    </div>
  </div>

</div>
