<div class="box">
  <h3 class="title is-4">Aperçu</h3>
  <hr>
  <div class="columns">
    <div class="column is-one-quarter">
      <h4 class="title is-6">Horaires d'ouverture</h4>
    </div>
    <div class="column">
      <p>Lundi, jeudi, samedi, dimanche : 9h00 - 18h00.</p>
      <p>Mercredi, vendredi : 9h00 - 21h45.</p>
      <p>Fermé le mardi, 1 mai, 1 novembre et 25 décembre.</p>
    </div>
  </div>    
</div>
