{% extends "NSCheckoutBundle::layout.html.twig" %}


{% block bodyCheckoutLeft %}



  <div class="card columns is-gapless card-to-ticket">
    <div class="card-image column is-2">
      <figure class="image is-scale">
        <img  src="https://picsum.photos/930/1470" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content column is-10">
      <div class="media">
        <div class="media-content">
        <div class="columns">
          <div class="column is-3">
            <p class="title is-5">Billet tarif</p>
            <p class="subtitle is-6">normal</p>
          </div>
          <div class="field column">
            <div class="control">
              {{ form_widget(form.userName, {'attr': {'class': 'input is-medium','placeholder':'Prénom et Nom'}}) }}
            </div>
            {# <p class="help">This is a help text</p> #}
          </div>
        </div>
        </div>
      </div>

      <div class="content">
        <div class="columns  columns-gap" >
          <div class="field column is-5">
            <label class="firstName">Pays</label>
            <div class="control">
              <div class="select ">
                {{ form_widget(form.country) }}
              </div>
            </div>
            {# <p class="help">This is a help text</p> #}
          </div>

          <div class="field column">
            <label class="lastName">Date de naissance</label>
            <div class="control">
              <div class="select select-birthday ">
            
              {{ form_widget(form.birthday, {'attr': {'class': 'birthday'}} ) }}
            </div>
            </div>
            {# <p class="help">This is a help text</p> #}
          </div>

        </div>
      </div>
    </div>
  </div>

     {# <div class="columns" >
      <div class="field column">
        <label class="email">Adresse mail</label>
        <div class="control">
          {{ form_widget(form.email, {'attr': {'class': 'input is-medium'}}) }}
        </div>
        <p class="help">Nous vous enverrons vos billets à cette adresse mail.</p>
      </div>
    </div>

    <div class="columns" >
      <div class="field column">
        <label class="tel">Numéro de téléphone mobile</label>
      <div class="field has-addons"> #}
      {# TODO  #}
        {# <p class="control">
          <span class="select is-medium">
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>

            <select id="country">
              <option>Fr</option>
              <option>En</option>
              <option><i class="fa fa-check"></i></option>
            </select>
          </span>
        </p> #}
        {# <div class="control tile is-6">
          <input class="input is-medium" type="text" required>
        </div>
      </div>
        <p class="help">Nous utiliserons ce numéro de téléphone pour les notifications d'envoi de billets par SMS et en cas de problèmes concernant les commandes.</p> 
      </div>
    </div>  #}
{% endblock %}