{% extends "NSCheckoutBundle::layout.html.twig" %}


{% block bodyCheckoutLeft %}

  <h1 class="title">Finalisez votre réservation</h1> 

  <div class="tile is-child notification is-info" style="flex-grow:0;">
    <p class="subtitle is-marginless"><strong>Information importante</strong></p>
    <span class="is-size-7">
      Si des personnes de votre groupe ont un accès gratuit pour le Louvre, ils peuvent entrer avec vous par l'Entrée Prioritaire.
    </span>
  </div>

  <div class="tile is-child" style="flex-grow:0;">
    <h2 class="subtitle">Sélectionner une date</h2>
    <div id="datepicker"></div>
  </div>

  <div class="tile is-child" style="flex-grow:0;">
    <h2 class="subtitle">Choisissez le nombre de billets</h2>
    <div class="notification is-info">
      <span class="is-size-7">
        Si des personnes de votre groupe ont un accès gratuit pour le Louvre, ils peuvent entrer avec vous par l'Entrée Prioritaire.
      </span>
    </div>
  </div>

  {% if form_errors(form) %}
    {% include "NSCheckoutBundle:Components:formErrors.html.twig" %}
  {% endif %}

  {% for ticket in tickets %}
    {% include "NSCheckoutBundle:Components:ticket.html.twig" %}        
  {% endfor %}

  <div id="field-isHalf" class="tile is-child is-hidden" style="padding-bottom:0;flex-grow:0;">
    <label class="halfDay">Pour combien de temps ? </label>
    <div class="control">
      <div class="select is-fullwidth  is-medium select-halfDay ">
        {{ form_widget(form.isHalf, {'attr': {'class': 'halfDay'}} ) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {% javascripts 
    'bundles/nscheckout/js/common/main.js'  
    'bundles/nscheckout/js/components/stepOne.js'  
    'bundles/nscheckout/js/components/calendar.js'  
    'bundles/nscheckout/js/components/card.js'  
  %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
